<nav>
    <p data-route="home">Ellen Butters</p>
    <ul class="nav">
        {{^home_page}}<li data-route="home">Home</li>{{/home_page}}
        {{^about_page}}<li data-route="about">About</li>{{/about_page}}
        {{^contact_page}}<li data-route="contact">Contact</li>{{/contact_page}}
        <li data-url="EB_Resume_2014.pdf" class="download"><i class="icon-download-arrow"></i>Resumé PDF</li>
    </ul>
</nav>