<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide1_modal.jpg"><img src="assets/img/items/amnh_slide1_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>RESPONSIBILITIES & ACHIEVEMENTS</h3>

                <ul>
                    <li>Solely concepted and designed all proprietary product lines for six Museum Shops, working closely with buyers to coordinate all product lines, track sales, adjust quantities, and maximize profit.</li>
                    <li>Managed all stages of print jobs (e.g. catalogs) and proprietary & licensed product development, from negotiating pricing and schedules to overseeing sample approvals and final press runs.</li>
                    <li>Designed all print and Web advertising, postcards, signage, and environmental store graphics.</li>
                </ul>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide2_modal.jpg"><img src="assets/img/items/amnh_slide2_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>HOLIDAY CARDS</h3>
                <p>During my four years at AMNH, I designed or illustrated 15 holiday cards. The last two years had the best result, because we partnered with a great company, Galison, who offered high-quality printing and packaging, even with our small quantity print runs. Shown here was my “Frog Santa” card, featuring a frog from the Museum’s live “Frogs” exhibit. I used many methods of design, including photo collage, hand illustration, and digital illustration. See more card designs</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide3_modal.jpg"><img src="assets/img/items/amnh_slide3_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>VINTAGE AMNH POSTCARD</h3>
                <p>“Vintage AMNH Postcard” was one of our staple, bestselling proprietary product lines. Based on a vintage postcard I dug out of the Museum’s “Special Collections” files, it features a hand-colored photo of the Museum’s exterior. The product line included a T-shirt, mousepad, mug, baseball cap, tote bag, paperweight, and many more items.</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide4_modal.jpg"><img src="assets/img/items/amnh_slide4_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>VINTAGE AMNH POSTCARD (CONT.)</h3>
                <p>I used vintage typefaces and colors to create a retro Americana aesthetic, which appealed to a wide range of consumer demographics.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide5_modal.jpg"><img src="assets/img/items/amnh_slide5_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>ROCKET TO THE MOON FIESTA-WARE</h3>
                <p>The Museum Shops had a longstanding relationship with the Fiesta® dinnerware factory in Pittsburg, PA, which has been manufacturing the Art-Deco styled china since 1936. Any time a new color was introduced, AMNH partnered with Fiesta® to produce a limited run of licensed products. For the introduction of Sunflower Yellow in 2001, I designed a retro rocket theme, inspired by 40’s comic books and pulp science fiction covers.</p>
            </div>
            <!--end slide 5 content-->
        </li>
        <li>
            <!--begin slide 6 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide6_modal.jpg"><img src="assets/img/items/amnh_slide6_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>ROCKET TO THE MOON FIESTA-WARE (CONT.)</h3>
                <p>Sales were successful and the Museum Shop buyers were inspired to expand the line beyond Fiesta-ware to include a retro desk clock and watch.</p>
            </div>
            <!--end slide 6 content-->
        </li>
        <li>
            <!--begin slide 7 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide7_modal.jpg"><img src="assets/img/items/amnh_slide7_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>DINOSAURS TAKE MANHATTAN</h3>
                <p>The Museum Shops tasked me with designing a souvenir product line for kids’ ages 5-12. I chose the concept of dinosaurs storming Manhattan because it let me show kids’ favorite giants interacting with New York City’s landmark buildings.</p>
            </div>
            <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide8_modal.jpg"><img src="assets/img/items/amnh_slide8_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>DINOSAURS TAKE MANHATTAN (CONT.)</h3>
                <p>The vector style of artwork worked with both 2-D and 3-D production methods, so we could produce rubber die-cut products alongside T-shirts and tote-bags.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide9_modal.jpg"><img src="assets/img/items/amnh_slide9_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>BABY DINO PROGRAM</h3>
                <p>Since dinosaurs were so popular with everyone, we added onto our kids’ dino products with a “Baby Dino” line for infants and toddlers. I hand illustrated a series of baby dinosaur characters in colored pencil, as shown here. I then converted them to vector artwork and added backgrounds for T-shirts, bibs, magnets, and dozens of other spot-color products.</p>
            </div>
            <!--end slide 9 content-->
        </li>
        <li>
            <!--begin slide 10 content-->
            <div class="img" data-modal="assets/img/items/amnh_slide10_modal.jpg"><img src="assets/img/items/amnh_slide10_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>LARGE SCALE STORE GRAPHICS</h3>
                <p>A large proportion of my time went to designing flat graphics for the shops. This included signage of all sizes, from small informational hang-tags to wall-sized display panels like this Frog Shop graphic. I digitally drew all the artwork using Illustrator.</p>
            </div>
            <!--end slide 10 content-->
        </li>
    </ul>
</div>