<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/bn_slide1_modal.jpg"><img src="assets/img/items/bn_slide1_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>RESPONSIBILITIES & ACHIEVEMENTS</h3>

                <p>Art directed team of 12 designers & image producers &bull; Load balanced projects &bull; Enhanced design of Scholastic Book Clubs sites &bull; Defined GUI & brand standards &bull; Maintained visual consistency between designers &bull; Hired freelance designers & defined contracts</p>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/bn_slide2_modal.jpg"><img src="assets/img/items/bn_slide2_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Lead Web Designer for B&N digital</h3>
                <p>As lead digital designer during the advent of eBooks, NOOK, and mobile apps, I helped integrate eBooks & NOOK, design a digital library ecosystem, define brand boundaries between B&N and NOOK, and continuously problem-solve for an uncharted new business.</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/bn_slide3_modal.jpg"><img src="assets/img/items/bn_slide3_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>App Web Pages</h3>
                <p>A huge launch for B&N Digital was the eReader app for iPhone and iPad. I was responsible for designing all web marketing of the apps and providing the app team with any mobile graphics they needed (e.g. buttons, color palettes, etc…)</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/bn_slide4_modal.png"><img src="assets/img/items/bn_slide4_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Nook Support</h3>
                <p>Given how new eReader technology was at this time, a crucial component of the NOOK microsite was the Support section. I worked with IA to bucket information intuitively, and I designed NOOK-style iconography to label each accordion-style section.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img" data-modal="assets/img/items/bn_slide5_modal.jpg"><img src="assets/img/items/bn_slide5_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Nook Device Interface</h3>
                <p>A NOOK team in San Francisco developed the device UI, but since branding issues were problem-solved in NYC, I was often tasked with mocking up final designs for NOOK using correct fonts, UI patterns, and marketing graphics.</p>
            </div>
            <!--end slide 5 content-->
        </li>
        <li>
            <!--begin slide 6 content-->
            <div class="img" data-modal="assets/img/items/bn_slide6_modal.png"><img src="assets/img/items/bn_slide6_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>LENDME branding</h3>
                <p>New technology and sub-brands called for new logos to be designed. In this case, the ability to lend and borrow an eBook was branded “LendMe” and I designed a logo with a NOOK-styled icon that could be used in multiple contexts with or without text.</p>
            </div>
            <!--end slide 6 content-->
        </li>
        <li>
            <!--begin slide 7 content-->
            <div class="img" data-modal="assets/img/items/bn_slide7_modal.jpg"><img src="assets/img/items/bn_slide7_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Franchise Pages</h3>
                <p>When a series of books became a cultural phenomenon, complete with films and merchandise, the resulting franchise called for a landing page of its own. I designed a template with modules for each product type.</p>
            </div>
            <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/bn_slide8_modal.jpg"><img src="assets/img/items/bn_slide8_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Original B&N Web Video Pages</h3>
                <p>During my tenure, BN.com produced a number of original web video series about books, readers, and authors. I designed a video page template that enabled each series to have a uniquely branded look & feel without adding Dev effort.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img" data-modal="assets/img/items/bn_slide9_modal.jpg"><img src="assets/img/items/bn_slide9_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Gift Guide/Sale Page Template</h3>
                <p>For BN.com’s seasonal sales and holiday events, I designed a template that supported both editorially curated and dynamically generated product collections. The template also allowed for events to be visually branded without adding Dev effort.</p>
            </div>
            <!--end slide 9 content-->
        </li>
        <li>
            <!--begin slide 10 content-->
            <div class="img" data-modal="assets/img/items/bn_slide10_modal.jpg"><img src="assets/img/items/bn_slide10_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Avatars for BN Community</h3>
                <p>For BN.com’s seasonal sales and holiday events, I designed a template that supported both editorially curated and dynamically generated product collections. The template also allowed for events to be visually branded without adding Dev effort.</p>
            </div>
            <!--end slide 10 content-->
        </li>
    </ul>
</div>