<div class="slider">
    <ul>
       <li>
           <!--begin slide 1 content-->
           <div class="img" data-modal="assets/img/items/bn_slide1_modal.jpg"><img src="assets/img/items/bn_slide1_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>RESPONSIBILITIES & ACHIEVEMENTS</h3>
               <ul>
                   <li>Was the lead digital designer during the fast-paced integration of a new digital ecosystem, including eBooks, digital applications and eReading devices (NOOK)</li>
                   <li>Designed reusable UI templates for BN.com, e.g. original video “Show Pages,” Gift Guides, and Franchise pages</li>
                   <li>Designed marketing graphics for BN.com and the NOOK eReader microsite</li>
                   <li>Designed sub-branded logos</li>
                   <li>Collaborated with IA and Dev departments to improve user experience and ensure fast turnaround</li>
               </ul>
           </div>

           <!--end slide 1 content-->
       </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/bn_slide2_modal.jpg"><img src="assets/img/items/bn_slide2_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Lead Web Designer for B&N Digital</h3>
                <p>My time at BN.com coincided with the advent of eBooks, eReading devices, and smartphones, which launched a tidal change in the book industry. It was an extremely fast-paced and chaotic time, during which I was the lead designer for B&N’s Digital “vertical.” I helped integrate eBooks and launch the NOOK device microsite on BN.com. </p><p></p><p>My position required a thorough understanding of the entire eBooks & NOOK device digital ecosystem. And because the technology and business was evolving so quickly, I had to continuously solve new design and UX problems. </p>
            </div>

            <!--end slide 2 content-->
        </li>
       <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/bn_slide3_modal.jpg"><img src="assets/img/items/bn_slide3_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
               <h3>App Web Pages</h3>
               <p>A huge launch for B&N Digital was the eReader app for iPhone and iPad. I was responsible for designing all web marketing of the apps and providing the app team with any mobile graphics they needed (e.g. buttons, color palettes, etc…). Shown here is the iPad app landing page at launch.</p>
            </div>
           <!--end slide 3 content-->
       </li>
       <li>
            <!--begin slide 4 content-->
           <div class="img" data-modal="assets/img/items/bn_slide4_modal.png"><img src="assets/img/items/bn_slide4_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Nook Support</h3>
               <p>Given how new eReader technology was at this time, a crucial component of the NOOK microsite was the Support section. It got a huge amount of traffic, so the design needed to be clean and seamless to navigate. I worked with IA to bucket information intuitively, and I designed NOOK-style iconography to label each accordion-style section.</p>
           </div>
           <!--end slide 4 content-->
       </li>
       <li>
            <!--begin slide 5 content-->
           <div class="img" data-modal="assets/img/items/bn_slide5_modal.jpg"><img src="assets/img/items/bn_slide5_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Nook Device Interface</h3>
               <p>A NOOK team in San Francisco developed the device UI, but since branding issues were problem-solved in NYC, I was often tasked with mocking up final designs for NOOK using correct fonts, UI patterns, and marketing graphics.</p>
           </div>
           <!--end slide 5 content-->
       </li>
       <li>
            <!--begin slide 6 content-->
           <div class="img" data-modal="assets/img/items/bn_slide6_modal.png"><img src="assets/img/items/bn_slide6_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>LENDME branding</h3>
                <p>New technology and sub-brands called for new logos to be designed. In this case, the ability to lend and borrow an eBook was branded “LendMe” and I designed a logo with a NOOK-styled icon that could be used in multiple contexts with or without text. You can still see it on the detail pages of NOOK books, such as <a href="http://www.barnesandnoble.com/w/the-blood-of-olympus-rick-riordan/1117136528?ean=9781423155140" target="_blank">this one</a>.</p>
            </div>
           <!--end slide 6 content-->
       </li>
       <li>
            <!--begin slide 7 content-->
           <div class="img" data-modal="assets/img/items/bn_slide7_modal.jpg"><img src="assets/img/items/bn_slide7_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Franchise Pages</h3>
                <p>When a series of books became a cultural phenomenon, complete with films and merchandise, the resulting franchise called for a landing page of its own. I designed a template with modules for each product type. Some of the franchise pages we produced were Harry Potter, Twilight, and Percy Jackson.</p>
            </div>
           <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/bn_slide8_modal.jpg"><img src="assets/img/items/bn_slide8_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Original B&N Web Video Pages</h3>
                <p>During my tenure, BN.com produced a number of original web video series about books, readers, and authors. I designed a video page template that enabled each series to have a uniquely branded look & feel without adding Dev effort. The series shown here, titled “The Book Files,” sought to uncover the extraordinary back stories of books old and new, famous and obscure.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img" data-modal="assets/img/items/bn_slide9_modal.jpg"><img src="assets/img/items/bn_slide9_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Gift Guide/Sale Page Template</h3>
                <p>One of the most trafficked sections of BN.com were the seasonal Gift Guides, such as Holiday, Mother’s Day (shown here), and Bi-Annual Clearance Sales. I designed a template that supported both editorially curated and dynamically generated product collections. The template also allowed for events to be visually branded without adding Dev effort.</p>
            </div>
            <!--end slide 9 content-->
        </li>
        <li>
            <!--begin slide 10 content-->
            <div class="img" data-modal="assets/img/items/bn_slide10_modal.jpg"><img src="assets/img/items/bn_slide10_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Avatars for BN Community</h3>
                <p>While I was there, BN.com expanded their member forums to become a much larger social community, like goodreads.com. One of my team’s tasks was to create a large selection of avatars for users. Shown here is the "animals" set I designed.</p>
            </div>
            <!--end slide 10 content-->
        </li>
    </ul>
</div>