<div class="slider">
    <ul>
       <li>
           <!--begin slide 1 content-->
           <div class="img" data-modal="assets/img/items/identity_slide1_modal.jpg"><img src="assets/img/items/identity_slide1_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Salom&Eacute;: chamber ensemble<br>2009</h3>
               <p>I designed this logo, stationery, and press-kit for a start-up conductorless, classical music chamber ensemble, self-described as edgy, young, and glamorous. I also named the group, referring to the biblical tale in which the seductress Salom&eacute; gets St. John the Baptist beheaded. Since the ensemble is without a &ldquo;head&rdquo; figure, the name was especially apt. The brand identity was bold and modern, yet still classical at its core. You can see their <a href="http://salomechamber.org/" target="_blank">Web site here</a>.</p>
           </div>

           <!--end slide 1 content-->
       </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/identity_slide2_modal.jpg"><img src="assets/img/items/identity_slide2_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Yves Dharamraj: <br>Cellist/Soloist<br>2007</h3>
                <p>This was a logo, stationery, and Web site project I did for one of the most talented cellists in New York. I was able to design a monogram logo that also emulates a bass clef, which is what cello music is written in. You can see his <a href="http://yvesdharamraj.com/" target="_blank">Web site here</a>.</p>
            </div>

            <!--end slide 2 content-->
        </li>
       <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/identity_slide3_modal.jpg"><img src="assets/img/items/identity_slide3_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
               <h3>Likely Media: <br>Video & Photography<br>2014</h3>
               <p>This identity was for an editorial film and photography business, based in Washington, D.C. The requirement was to be modern, digital-friendly, and convey both mediums. You can view the <a href="http://likelymedia.com/" target="_blank">Web site here</a>.</p>
            </div>
           <!--end slide 3 content-->
       </li>
       <li>
            <!--begin slide 4 content-->
           <div class="img" data-modal="assets/img/items/identity_slide4_modal.jpg"><img src="assets/img/items/identity_slide4_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Dominique Butters: <br>Health Coach<br>2014</h3>
               <p>This project, comprised of a logo, business card, tri-fold brochure, and Web site, was for a nutritionist with a holistic approach to becoming healthy. Per the client's brief, the the logo should communicate health, energy, and an upbeat attitude. Her <a href="http://dominiquebutters.com/" target="_blank">Web site is here</a>.</p>
           </div>
           <!--end slide 4 content-->
       </li>
       <li>
            <!--begin slide 5 content-->
           <div class="img"><img src="assets/img/items/identity_slide5_desktop.png"></div>

           <div class="content">
               <h3>Inventor&rsquo;s Portrait Project: Photo Book & Video Series<br>2007</h3>
               <p>This was a logo for a specific book project, still to be published. The logo was a modern take on classic woodcut logos, in the mold of the <a href="http://store.mcsweeneys.net/products/the-believer-subscription" target="_blank">Believer Magazine</a>.</p>
           </div>
           <!--end slide 5 content-->
       </li>
       <li>
            <!--begin slide 6 content-->
           <div class="img" data-modal="assets/img/items/identity_slide6_modal.png"><img src="assets/img/items/identity_slide6_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Observatory Group: <br>Financial Consulting Firm<br>2007</h3>
                <p>This was a logo and stationery project I completed for a start-up firm that advised hedge-funds on global market trends. I liked that they chose to pair a classic logo with a more modern typeface.</p>
            </div>
           <!--end slide 6 content-->
       </li>
       <li>
            <!--begin slide 7 content-->
           <div class="img" data-modal="assets/img/items/identity_slide7_modal.jpg"><img src="assets/img/items/identity_slide7_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Marvel Unlimited: Digital Comics Subscription Service<br>2013</h3>
                <p>At Marvel, I helped launch a new product titled Marvel Unlimited. It was a digital comics subscription program, similar in business model to Netflix. My team designed the new sub-branded logo and identity. The main challenge was to create something iconic yet distinct and still belonging to the larger Marvel brand. It also had to work as a mark with and without text. Click/tap the image to see more MU designs. <a href="http://marvel.com/comics/unlimited" target="_blank">View Marvel Unlimited on Marvel.com</a>.</p>
            </div>
           <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img"><img src="assets/img/items/identity_slide8_desktop.png"></div>

            <div class="content">
                <h3>Scholastic Club Shop: <br>eBookstore for all ages<br>2011</h3>
                <p>A special "Club Shop" online catalog was created for Book Club parents who wanted to shop for all age ranges. The logo suggests a page-flip of all the Book Club catalogs, using each color that represents an individual grade level. Unfortunately, I cannot link to the shop because it is behind a membership firewall.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img"><img src="assets/img/items/identity_slide9_desktop.jpg"></div>

            <div class="content">
                <h3>Scholastic Book Beat: <br>Book Club for Teens<br>2012</h3>
                <p>As the Young Adult book category found a renaissance with the Hunger Games and Twilight series, Scholastic Book Clubs expanded their age range to Teens with this online-only club. The logo was inspired by snow-boarding and punk cultures. Unfortunately, I cannot link to the store because it is behind a membership firewall.</p>
            </div>
            <!--end slide 9 content-->
        </li>
        <li>
            <!--begin slide 10 content-->
            <div class="img"><img src="assets/img/items/identity_slide10_desktop.png"></div>

            <div class="content">
                <h3>LENDME: <br>eBook Lending Technology<br>2009</h3>
                <p>When I was at Barnes and Noble, eBook technology was developing quickly, and companies raced to brand new micro-technology as their own. Just as Kindle had "WhisperSync," Barnes and Noble had "LendMe," which was a way to lend eBooks to friends. I designed an icon to label the eBooks that were lendable. </p><p></p><p>The requirement was to make an extremely simple icon that conveyed the act of lending. I was happy to also make a smile out of the icon. You can still see it on the detail pages of NOOK books, such as <a href="http://www.barnesandnoble.com/w/the-blood-of-olympus-rick-riordan/1117136528?ean=9781423155140" target="_blank">this one</a>.</p>
            </div>
            <!--end slide 10 content-->
        </li>
    </ul>
</div>