<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/bn_slide1_modal.jpg"><img src="assets/img/items/identity_slide1_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Salom&Eacute;: chamber ensemble: 2009</h3>

                <p>I designed this logo, stationery, and press-kit for a start-up conductorless, classical music chamber ensemble, self-described as edgy, young, and glamorous. The brand identity was likewise bold and modern, yet still classical at its core.</p>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/bn_slide2_modal.jpg"><img src="assets/img/items/identity_slide2_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Yves Dharamraj: Cellist/Soloist: 2007</h3>
                <p>This was a logo, stationery, and Web site project I did for one of the most talented cellists in New York. I was able to design a monogram logo that also emulates a bass clef, which is what cello music is written in.</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/bn_slide3_modal.jpg"><img src="assets/img/items/identity_slide3_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Likely Media: Video & Photography: 2014</h3>
                <p>This identity was for an editorial film and photography business, based in Washington, D.C. The requirement was to be modern, digital-friendly, and convey both mediums.</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/bn_slide4_modal.png"><img src="assets/img/items/identity_slide4_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Dominique Butters: Health Coach: 2014</h3>
                <p>This project, comprised of a logo, business card, tri-fold brochure, and Web site, was for a nutritionist with a holistic approach to becoming healthy.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img"><img src="assets/img/items/identity_slide5_mobile.png"></div>

            <div class="content">
                <h3>Inventor&rsquo;s Portrait Project: Photo Book & Video Series: 2007</h3>
                <p>This was a logo for a specific book project, still to be published. The logo was a modern take on classic woodcut logos, in the mold of the Believer Magazine.</p>
            </div>
            <!--end slide 5 content-->
        </li>
        <li>
            <!--begin slide 6 content-->
            <div class="img" data-modal="assets/img/items/identity_slide6_modal.png"><img src="assets/img/items/identity_slide6_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Observatory Group: Financial Consulting Firm: 2007</h3>
                <p>This was a logo and stationery project I completed for a start-up firm that advised hedge-funds on global market trends. I liked that they chose to pair a classic logo with a more modern typeface.</p>
            </div>
            <!--end slide 6 content-->
        </li>
        <li>
            <!--begin slide 7 content-->
            <div class="img" data-modal="assets/img/items/identity_slide7_modal.jpg"><img src="assets/img/items/identity_slide7_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Marvel Unlimited: Digital Comics Subscription Service: 2013</h3>
                <p>Marvel Unlimited was a new digital comics subscription program, similar to Netflix. My team designed the sub-branded logo and identity. The main challenge was to create something iconic yet distinct and still belonging to the larger Marvel brand.</p>
            </div>
            <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img"><img src="assets/img/items/identity_slide8_mobile.png"></div>

            <div class="content">
                <h3>Scholastic Club Shop: eBookstore for all ages: 2011</h3>
                <p>A special "Club Shop" online catalog was created for Book Club parents who wanted to shop for all age ranges. The logo suggests a page-flip of all the Book Club catalogs, using each color that represents an individual grade level.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img"><img src="assets/img/items/identity_slide9_mobile.jpg"></div>

            <div class="content">
                <h3>Scholastic Book Beat: Book Club for Teens: 2012</h3>
                <p>As the Young Adult book category found a renaissance with the Hunger Games and Twilight series, Scholastic Book Clubs expanded their age range to Teens with this online-only club. The logo was inspired by snow-boarding and punk cultures.</p>
            </div>
            <!--end slide 9 content-->
        </li>
        <li>
            <!--begin slide 10 content-->
            <div class="img"><img src="assets/img/items/identity_slide10_mobile.png"></div>

            <div class="content">
                <h3>LENDME: eBook Lending Technology: 2009</h3>
                <p>As eBook technology was burgeoning, companies raced to brand new micro-technology as their own. Just as Kindle had "WhisperSync," B&N had "LendMe" for lending eBooks to friends. I designed an icon to label the eBooks that were lendable.</p>
            </div>
            <!--end slide 10 content-->
        </li>
    </ul>
</div>