<div class="slider">
    <ul>
       <li>
           <!--begin slide 1 content-->
           <div class="img" data-modal="assets/img/items/illustration_slide1_modal.jpg"><img src="assets/img/items/illustration_slide1_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Motorcycle Pen & Ink<br>2005</h3>
               <p>Done with both quill and micron pens, I based this drawing on a photo I took at an empty lot in New York City. I thought it would make an interesting black and white drawing because of the large range of values in both the bike and graffiti backdrop.</p>
           </div>

           <!--end slide 1 content-->
       </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/illustration_slide2_modal.jpg"><img src="assets/img/items/illustration_slide2_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>New Yorker Cover<br>2004</h3>
                <p>This was a colored pencil drawing I did as a wedding gift for friends who are big fans of the New Yorker Magazine. It is based on a photo I took of their apartment.</p>
            </div>

            <!--end slide 2 content-->
        </li>
       <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/identity_slide3_modal.jpg"><img src="assets/img/items/illustration_slide3_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
               <h3>Avatar Portraits for BN.com <br>2009</h3>
               <p>When I was working at Barnes & Noble, we designed hundreds of avatars for our online social community. Among them were these acrylic paintings I completed to fill in some gaps in the collection.</p>
            </div>
           <!--end slide 3 content-->
       </li>
       <li>
            <!--begin slide 4 content-->
           <div class="img" data-modal="assets/img/items/illustration_slide4_modal.jpg"><img src="assets/img/items/illustration_slide4_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Hall Of Ocean Life Cocktail Party<br>2005</h3>
               <p>Depicting an imagined party in the American Museum of Natural History, I originally drew this whimsical colored pencil illustration as a holiday card, sold in the Museum’s retail shops. It has since been used in a print advertisement and a fund-raising invitation.</p>
           </div>
           <!--end slide 4 content-->
       </li>
       <li>
            <!--begin slide 5 content-->
           <div class="img" data-modal="assets/img/items/illustration_slide5_modal.jpg"><img src="assets/img/items/illustration_slide5_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>Portrait of David Friedman<br>2006</h3>
               <p>A watercolor of my husband, of ironicsans.com fame. He is also the proprietor of likelymedia.com.</p>
           </div>
           <!--end slide 5 content-->
       </li>
       <li>
            <!--begin slide 6 content-->
           <div class="img" data-modal="assets/img/items/illustration_slide6_modal.jpg"><img src="assets/img/items/illustration_slide6_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Dog Portrait<br>2005</h3>
                <p>This watercolor is as much a study in hardwood floors as it is of a cute animal.
                </p>
            </div>
           <!--end slide 6 content-->
       </li>
       <li>
            <!--begin slide 7 content-->
           <div class="img" data-modal="assets/img/items/illustration_slide7_modal.jpg"><img src="assets/img/items/illustration_slide7_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>City of Glass Book Cover<br>2006</h3>
                <p>I did this pen & ink drawing during my AAS at Parsons as an example of how hand illustration could be used effectively on a book cover.</p>
            </div>
           <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/illustration_slide8_modal.jpg"><img src="assets/img/items/illustration_slide8_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>Concrete Island Book Cover<br>2006</h3>
                <p>I also did this paper collage illustration during my AAS at Parsons as another example of how hand illustration can appear modern and relevant in commercial use.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img" data-modal="assets/img/items/illustration_slide9_modal.jpg"><img src="assets/img/items/illustration_slide9_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>"Giving" Abstract Multimedia<br>2003</h3>
                <p>This was one of my few forays into abstraction. It uses pen, colored pencil, and origami paper.</p>
            </div>
            <!--end slide 9 content-->
        </li>

    </ul>
</div>