<div class="slider">
    <ul>
       <li>
           <!--begin slide 1 content-->
           <div class="img" data-modal="assets/img/items/marvel_slide1_modal.jpg"><img src="assets/img/items/marvel_slide1_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>MY RESPONSIBILITIES</h3>
               <ul>
                   <li>Built a strong six-person digital design team from scratch with a limited budget.</li>
                   <li>Art directed design team, ensuring visual consistency and collaborative problem-solving. Load-balanced design resources to accommodate fluid schedules and rush projects.</li>
                   <li>Redefined and implemented a new visual brand for all Marvel’s web sites, apps and digital interfaces, spanning multiple platforms and experiences.</li>
                   <li>Established an online Style Guide and UI Pattern Library with Dev team, used by both internal and third party teams to accelerate Dev schedules multifold.</li>
               </ul>
           </div>

           <!--end slide 1 content-->
       </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1.2_modal.jpg"><img src="assets/img/items/marvel_slide1.2_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES (CONT.)</h3>
                <ul>
                    <li>Art directed a new Responsive Marvel.com interface with reusable modules and templates. Applied best UX practices, incorporated new ad units, and gave more editorial controls to content producers.</li>
                    <li>Collaborated with Dev and QA teams early to ensure design integrity without eating into schedules.</li>
                    <li>Applied user feedback and testing to improve and inform designs.</li>
                    <li>Presented design team achievements and industry trends to Marvel leadership.</li>
                </ul>
            </div>

            <!--end slide 2 content-->
        </li>
       <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide2_modal.png"><img src="assets/img/items/marvel_slide2_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
               <h3>REBRANDING MARVEL DIGITAL</h3>
               <p>The first, and arguably biggest, task when I arrived at Marvel was establishing a new visual brand for Marvel Digital and getting all stakeholders to approve it. When I arrived, the apps, Web site, emails, and other digital communications had wildly disparate aesthetics and language. This was primarily because the Digital Media Group did not have a dedicated design department. I first interviewed all the departments at Marvel (including Publishing, Marketing, Biz/Dev, Content, and Product) in order to grok the Marvel and Marvel Digital brands. The second step was writing the Creative Brief (shown here), which all departments then signed off on.</p>
            </div>
           <!--end slide 3 content-->
       </li>
       <li>
            <!--begin slide 4 content-->
           <div class="img" data-modal="assets/img/items/marvel_slide3_modal.png"><img src="assets/img/items/marvel_slide3_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>REBRANDING &mdash; MOOD BOARDS</h3>
               <p>The design team completed 3 rounds of mood boards, each time getting reviews from the various departments and taking feedback. Although this was a tedious process, it was integral to achieving buy-in from the various teams. Since the Marvel Web site would eventually be made Responsive, we had to think about how our styling would translate to both large and small screens, as well as how heavy the code would be.</p>
           </div>
           <!--end slide 4 content-->
       </li>
       <li>
            <!--begin slide 5 content-->
           <div class="img" data-modal="assets/img/items/marvel_slide4_modal.jpg"><img src="assets/img/items/marvel_slide4_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

           <div class="content">
               <h3>REBRANDING &mdash; FINAL MOOD BOARDS</h3>
               <p>The final mood board was based on our most minimal direction, though we borrowed elements from several boards. Stakeholders liked massive images with plenty of breathing room, the bold contrast of black & white typography, the restrained use of the Marvel Red as an action color, and the use of an angle as a framing device that spoke to the energy and power of the brand. The final result – a simple, bold, and modern design – cohered contrasting Marvel imagery (movie photo-realism vs. comic illustration vs. game CGI) and brought them under one visual umbrella.</p>
           </div>
           <!--end slide 5 content-->
       </li>
       <li>
            <!--begin slide 6 content-->
           <div class="img" data-modal="assets/img/items/marvel_slide5_modal.png"><img src="assets/img/items/marvel_slide5_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; WEB FONT</h3>
                <p>One of the most difficult tasks was choosing a font and getting approval for the license. We went with Trade Gothic, because it was strong, bold, and timeless, and it had all the weights we needed. Getting it approved was challenging because a font license had not been budgeted for that fiscal year. Even after I was able to make a case for it to Marvel leadership, we still had months of legal negotiations to finalize a contract with Monotype, the type foundry.</p>
            </div>
           <!--end slide 6 content-->
       </li>
       <li>
            <!--begin slide 7 content-->
           <div class="img" data-modal="assets/img/items/marvel_slide6_modal.jpg"><img src="assets/img/items/marvel_slide6_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>IMPLEMENTING THE REBRAND</h3>
                <p>After we got final sign-off on a mood board and font, we worked with Product Managers to do a complete face lift of our Web site and apps, including much-needed UX improvements and some key new features along the way, like providing more editorial controls to the Content Team. We worked with Dev in an agile methodology, starting with the Home Page and Comics section. Shown here is the new Home Page opposite the old one, which highlights how much we enlarged the images and typography for maximum impact while keeping usability intact.</p>
            </div>
           <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide7_modal.jpg"><img src="assets/img/items/marvel_slide7_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>RESPONSIVE MARVEL.COM</h3>
                <p>Most of our UX changes came from building a Responsive site design. We used an “All Breakpoints At Once” design methodology, while ensuring that the content would work for mobile use. We innovated some design paradigms for complex items such as filters. Everything was designed to be reusable and we created a live Style Guide, which was a library of our modules and UI patterns. This was not only indispensable for our own designs going forward, but we also shared this guide with third parties when building future co-branded microsites. The all-mighty Style Guide more than doubled the speed of development and ensured brand consistency.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide8_modal.jpg"><img src="assets/img/items/marvel_slide8_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>HERO IMAGES</h3>
                <p>One of the discoveries of our rebranding process was that simply making Marvel’s gorgeous, proprietary imagery ENORMOUS and framed with plenty of white space, was enough to establish a strong brand. Most of our detail pages were thus treated to HUGE hero graphics, shown here in the Comic Events section. One of the key Dev efforts was making these images responsive in both height and width so users would always know there was more content on the page for them to scroll and see.</p>
            </div>
            <!--end slide 9 content-->
        </li>
    </ul>
</div>