<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1_modal.jpg"><img src="assets/img/items/marvel_slide1_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES</h3>

                <p>Built and lead 6-person digital design team from scratch &bull; Art directed design team, ensuring visual consistency & collaborative problem-solving &bull; Redefined & implemented new visual brand for all Marvel's web sites, apps & digital interfaces &bull; Established live Style Guide & UI pattern library with Dev team</p>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1.2_modal.jpg"><img src="assets/img/items/marvel_slide1.2_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES (CONT.)</h3>
                <p>Art directed new Responsive Marvel.com interface with reusable modules & templates &bull; Collaborated with Dev & QA teams early to ensure design integrity &bull; Applied user feedback to improve designs &bull; Presented design team achievements & industry trends to Marvel leadership</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide2_modal.png"><img src="assets/img/items/marvel_slide2_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING MARVEL DIGITAL</h3>
                <p>The first and largest task when I arrived at Marvel was establishing a new visual brand and getting all stakeholders to approve it. After interviewing all departments in order to grok the Marvel brand, I drafted the Creative Brief (shown here).</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide3_modal.png"><img src="assets/img/items/marvel_slide3_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; MOOD BOARDS</h3>
                <p>The design team completed 3 rounds of mood boards, each time getting reviews from the various departments and taking feedback. Although this was a tedious process, it was integral to achieving buy-in from the various teams.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide4_modal.jpg"><img src="assets/img/items/marvel_slide4_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; FINAL MOOD BOARD</h3>
                <p>The final mood board was based on our most minimal direction, though we borrowed elements from several boards. The final result – a simple, bold, and modern design – cohered contrasting Marvel imagery and brought them under one visual umbrella.</p>
            </div>
            <!--end slide 5 content-->
        </li>
        <li>
            <!--begin slide 6 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide5_modal.png"><img src="assets/img/items/marvel_slide5_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; WEB FONT</h3>
                <p>One of the most difficult tasks was choosing a font and getting approval for the license. We went with Trade Gothic, because it was strong, bold, and timeless, and it had all the weights we needed.</p>
            </div>
            <!--end slide 6 content-->
        </li>
        <li>
            <!--begin slide 7 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide6_modal.jpg"><img src="assets/img/items/marvel_slide6_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>IMPLEMENTING THE REBRAND</h3>
                <p>After we got final sign-off on a mood board and font, we worked with Product Managers to do a complete face lift of our Web site and apps, including much-needed UX improvements and some key new features like providing more editorial controls.</p>
            </div>
            <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide7_modal.jpg"><img src="assets/img/items/marvel_slide7_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>RESPONSIVE MARVEL.COM</h3>
                <p>Most of our UX changes came from building a Responsive site design. We used an "All Breakpoints At Once" design methodology, while ensuring that the content would work for mobile use. Everything was designed to be reusable.</p>
            </div>
            <!--end slide 8 content-->
        </li>
        <li>
            <!--begin slide 9 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide8_modal.jpg"><img src="assets/img/items/marvel_slide8_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>HERO IMAGES</h3>
                <p>One of the discoveries of our rebranding process was that simply making Marvel's gorgeous, proprietary imagery ENORMOUS and framed with plenty of white space, was enough to establish a strong brand. This example is the AvX page from the Comic Events section.</p>
            </div>
            <!--end slide 9 content-->
        </li>
        <li>
            <!--begin slide 10 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide9_modal.jpg"><img src="assets/img/items/marvel_slide9_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>UPDATING BRANDING EVERYWHERE</h3>
                <p>After establishing a solid visual brand and a set of reusable UI patterns, we redesigned all of Marvel’s other digital communications, such as multiple white-labeled Web sites, Marvel’s app icons and interfaces, all official Marvel emails, etc…</p>
            </div>
            <!--end slide 10 content-->
        </li>
        <li>
            <!--begin slide 11 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide10_modal.jpg"><img src="assets/img/items/marvel_slide10_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MARVEL UNLIMITED PROGRAM</h3>
                <p>One of our most exciting projects was Marvel Unlimited, a new digital comics subscription program – the Netflix of comics. My team designed the logo, branding, app interface, and corresponding web interface, including checkout.</p>
            </div>
            <!--end slide 11 content-->
        </li>
    </ul>
</div>