<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide1_modal.png"><img src="assets/img/items/scholastic_slide1_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>RESPONSIBILITIES & ACHIEVEMENTS</h3>

                <p>Art directed team of 12 designers & image producers &bull; Load balanced projects &bull; Enhanced design of Scholastic Book Clubs sites &bull; Defined GUI & brand standards &bull; Maintained visual consistency between designers &bull; Hired freelance designers & defined contracts</p>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide2_modal.png"><img src="assets/img/items/scholastic_slide2_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>BRAND MANAGEMENT</h3>
                <p>I was tasked with standardizing the visual brand elements of Scholastic Books Clubs, creating a Brand Style Guide, and communicating these standards to the larger team. The guide was integral to keeping the team’s work consistent across all projects.</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide3_modal.jpg"><img src="assets/img/items/scholastic_slide3_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>A NATIVE DIGITAL EXPERIENCE</h3>
                <p>My team transformed the Book Clubs online experience from a poor imitation of a print catalog into a native digital application that leveraged web interactivity to help parents and teachers find the right books for their kids.</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide4_modal.jpg"><img src="assets/img/items/scholastic_slide4_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>STORIA MICROSITE</h3>
                <p>I designed a microsite and online marketing campaign for Storia™, Scholastic’s digital eReader app for kids. This was the microsite home page – its primary KPI at launch was number of downloads.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide5_modal.jpg"><img src="assets/img/items/scholastic_slide5_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>STORIA MICROSITE (CONT.)</h3>
                <p>A consistent visual branding tool we had at our disposal was Scholastic’s library of beloved illustrated characters. We created consistent framing devices in order to marry the contrasting illustration styles.</p>
            </div>
            <!--end slide 5 content-->
        </li>
        <li>
            <!--begin slide 6 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide6_modal.jpg"><img src="assets/img/items/scholastic_slide6_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>SUB-BRAND DESIGN</h3>
                <p>I designed logos and landing pages for two sub-branded boutiques on the Scholastic website.
                    Club Shop was an eBookstore where parents could buy Scholastic books from all the “Clubs.” Book Beat was an online e-Books boutique just for teens.</p>
            </div>
            <!--end slide 6 content-->
        </li>
        <li>
            <!--begin slide 7 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide7_modal.jpg"><img src="assets/img/items/scholastic_slide7_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>AUTHOR PAGES</h3>
                <p>Author pages increased user engagement by giving background information about Scholastic’s favorite authors and character franchises. Users linked to them through the Book Clubs main navigation, directly from emails, and from book detail pages.</p>
            </div>
            <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide8_modal.jpg"><img src="assets/img/items/scholastic_slide8_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>BACK TO BASICS TOYS</h3>
                <p>One of Scholastic’s properties was the Back To Basics Toys classic children’s toy business, which had both a print and online catalog. My task was to re-skin and re-brand the Web site to look more current and modern.</p>
            </div>
            <!--end slide 8 content-->
        </li>
    </ul>
</div>