<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1_modal.jpg"><img src="assets/img/items/marvel_slide1_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES</h3>

                <p>&bull; Built and lead 6-person digital design team from scratch &bull; Art directed design team, ensuring visual consistency & collaborative problem-solving &bull; Redefined & implemented new visual brand for all Marvel's web sites, apps & digital interfaces &bull; Established live Style Guide & UI pattern library with Dev team</p>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1.2_modal.jpg"><img src="assets/img/items/marvel_slide1.2_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES (CONT.)</h3>
                <p>&bull; Art directed new Responsive Marvel.com interface with reusable modules & templates &bull; Collaborated with Dev & QA teams early to ensure design integrity &bull; Applied user feedback to improve designs &bull; Presented design team achievements & industry trends to Marvel leadership</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide2_modal.png"><img src="assets/img/items/marvel_slide2_mobile.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING MARVEL DIGITAL</h3>
                <p>The first and largest task when I arrived at Marvel was establishing a new visual brand and getting all stakeholders to approve it. After interviewing all departments in order to grok the Marvel brand, I drafted the Creative Brief (shown here).</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide3_modal.png"><img src="assets/img/items/marvel_slide3_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; MOOD BOARDS</h3>
                <p>The design team completed 3 rounds of mood boards, each time getting reviews from the various departments and taking feedback. Although this was a tedious process, it was integral to achieving buy-in from the various teams.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide4_modal.jpg"><img src="assets/img/items/marvel_slide4_mobile.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; FINAL MOOD BOARDS</h3>
                <p>The final mood board was based on our most minimal direction, though we borrowed elements from several boards. The final result – a simple, bold, and modern design – cohered contrasting Marvel imagery and brought them under one visual umbrella.</p>
            </div>
            <!--end slide 5 content-->
        </li>
    </ul>
</div>