<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1_modal.jpg"><img src="assets/img/items/marvel_slide1_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES</h3>
                <ul>
                    <li>Built a strong six-person digital design team from scratch with a limited budget.</li>
                    <li>Art directed design team, ensuring visual consistency and collaborative problem-solving. Load-balanced design resources to accommodate fluid schedules and rush projects.</li>
                    <li>Redefined and implemented a new visual brand for all Marvel’s web sites, apps and digital interfaces, spanning multiple platforms and experiences.</li>
                    <li>Established an online Style Guide and UI Pattern Library with Dev team, used by both internal and third party teams to accelerate Dev schedules multifold.</li>
                </ul>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide1.2_modal.jpg"><img src="assets/img/items/marvel_slide1.2_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>MY RESPONSIBILITIES (CONT.)</h3>
                <ul>
                    <li>Art directed a new Responsive Marvel.com interface with reusable modules and templates. Applied best UX practices, incorporated new ad units, and gave more editorial controls to content producers.</li>
                    <li>Collaborated with Dev and QA teams early to ensure design integrity without eating into schedules.</li>
                    <li>Applied user feedback and testing to improve and inform designs.</li>
                    <li>Presented design team achievements and industry trends to Marvel leadership.</li>
                </ul>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide2_modal.png"><img src="assets/img/items/marvel_slide2_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING MARVEL DIGITAL</h3>
                <p>The first, and arguably biggest, task when I arrived at Marvel was establishing a new visual brand for Marvel Digital and getting all stakeholders to approve it. When I arrived, the apps, Web site, emails, and other digital communications had wildly disparate aesthetics and language. This was primarily because the Digital Media Group did not have a dedicated design department. I first interviewed all the departments at Marvel (including Publishing, Marketing, Biz/Dev, Content, and Product) in order to grok the Marvel and Marvel Digital brands. The second step was writing the Creative Brief (shown here), which all departments then signed off on.</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide3_modal.png"><img src="assets/img/items/marvel_slide3_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; MOOD BOARDS</h3>
                <p>The design team completed 3 rounds of mood boards, each time getting reviews from the various departments and taking feedback. Although this was a tedious process, it was integral to achieving buy-in from the various teams. Since the Marvel Web site would eventually be made Responsive, we had to think about how our styling would translate to both large and small screens, as well as how heavy the code would be.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
            <!--begin slide 5 content-->
            <div class="img" data-modal="assets/img/items/marvel_slide4_modal.jpg"><img src="assets/img/items/marvel_slide4_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>REBRANDING &mdash; FINAL MOOD BOARDS</h3>
                <p>The final mood board was based on our most minimal direction, though we borrowed elements from several boards. Stakeholders liked massive images with plenty of breathing room, the bold contrast of black & white typography, the restrained use of the Marvel Red as an action color, and the use of an angle as a framing device that spoke to the energy and power of the brand. The final result – a simple, bold, and modern design – cohered contrasting Marvel imagery (movie photo-realism vs. comic illustration vs. game CGI) and brought them under one visual umbrella.</p>
            </div>
            <!--end slide 5 content-->
        </li>
    </ul>
</div>