<div class="slider">
    <ul>
        <li>
            <!--begin slide 1 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide1_modal.png"><img src="assets/img/items/scholastic_slide1_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>RESPONSIBILITIES & ACHIEVEMENTS</h3>
                <ul>
                    <li>Managed ten-person team of designers and image producers. Art Directed eight digital designers. Load balanced projects and responsibilities.</li>
                    <li>Enhanced visual design of the Scholastic Book Clubs sites.</li>
                    <li>Defined and codified GUI and Book Clubs brand standards. Maintained visual consistency between designers.</li>
                    <li>Hired and defined contracts for freelance designers.</li>
                </ul>
            </div>

            <!--end slide 1 content-->
        </li>
        <li>
            <!--begin slide 2 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide2_modal.png"><img src="assets/img/items/scholastic_slide2_desktop.png"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>BRAND MANAGEMENT</h3>
                <p>I was tasked with standardizing the visual brand elements of Scholastic Books Clubs, creating a Brand Style Guide, and communicating these standards out to the larger team. The guide included fonts, colors, buttons and other UI patterns, icons, and use of illustration & photography.</p><p></p><p>

                    This style guide was integral to keeping the team’s work consistent across all projects, from emails to microsites.</p>
            </div>

            <!--end slide 2 content-->
        </li>
        <li>
            <!--begin slide 3 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide3_modal.jpg"><img src="assets/img/items/scholastic_slide3_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>A NATIVE DIGITAL EXPERIENCE</h3>
                <p>My team transformed the Book Clubs online experience from a poor imitation of a print catalog into a true digital application that leveraged web interactivity to help parents and teachers find the right books for their kids.</p><p></p><p>

                    One of the principal challenges was keeping the online visual brand consistent with the print catalog, while also being usable and looking current.</p>
            </div>
            <!--end slide 3 content-->
        </li>
        <li>
            <!--begin slide 4 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide4_modal.jpg"><img src="assets/img/items/scholastic_slide4_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>STORIA MICROSITE</h3>
                <p>I designed a microsite and online marketing campaign for Storia™, Scholastic’s digital eReader app for kids. This was the microsite home page.</p><p></p><p>

                    At launch the primary business goal was number of downloads. The secondary KPI was selling eBooks. The primary USER goal was helping parents find books at their kids’ reading levels quickly and easily.</p>
            </div>
            <!--end slide 4 content-->
        </li>
        <li>
        <!--begin slide 5 content-->
        <div class="img" data-modal="assets/img/items/scholastic_slide5_modal.jpg"><img src="assets/img/items/scholastic_slide5_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

        <div class="content">
            <h3>STORIA MICROSITE (CONT.)</h3>
            <p>A consistent visual branding tool we had at our disposal was Scholastic’s library of beloved illustrated characters.</p><p></p><p>

                While these illustrations distinctly branded our designs “Scholastic,” they varied so much in aesthetic that they were problematic. We needed to create framing devices in order to marry the contrasting illustration styles.</p>
        </div>
        <!--end slide 5 content-->
        </li>
        <li>
            <!--begin slide 6 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide6_modal.jpg"><img src="assets/img/items/scholastic_slide6_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>SUB-BRAND DESIGN</h3>
                <p>I designed logos and landing pages for two sub-branded boutiques on the Scholastic website.</p><p></p><p>

                    Club Shop was an eBookstore where parents could buy Scholastic books from all the “Clubs.” Each color in the logo represents a separate age-based Reading Club.</p><p></p><p>

                    Book Beat was an online e-Books boutique just for teens. Think Hunger Games and Percy Jackson.</p>
            </div>
            <!--end slide 6 content-->
        </li>
        <li>
            <!--begin slide 7 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide7_modal.jpg"><img src="assets/img/items/scholastic_slide7_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>AUTHOR PAGES</h3>
                <p>Author pages increased user engagement by giving background information about Scholastic’s favorite authors and character franchises. They also promoted book pre-orders. Users linked to them through the Book Clubs main navigation, directly from emails, and from book detail pages.</p>
            </div>
            <!--end slide 7 content-->
        </li>
        <li>
            <!--begin slide 8 content-->
            <div class="img" data-modal="assets/img/items/scholastic_slide8_modal.jpg"><img src="assets/img/items/scholastic_slide8_desktop.jpg"><i class="enlarge icon-img-enlarge"></i></div>

            <div class="content">
                <h3>BACK TO BASICS TOYS</h3>
                <p>One of Scholastic’s properties was the Back To Basics Toys classic children’s toy business, which had both a print and online catalog. My task was to re-skin and re-brand the Web site to look more current and modern. The Home page is shown here (see enlargement for the replaced Home page).</p>
            </div>
            <!--end slide 8 content-->
        </li>


    </ul>
</div>