$color-main: #fffc84;
$color-main-darker: darken($color-main, 10%);

$font-title: FranklinGothicLTCom-DmCn, helvetica, arial, sans-serif;
$font-content: FranklinGothicLTCom-Bk, helvetica, arial, sans-serif;