#about{

  section.main{
    @include clearfix;
    position: relative;
    padding: 60px 0;

    .copy{

      width: 65%;
      float: left;

      p{
        color: #9b9b9b;
        font-size: 110%;
        line-height:1.35;
        font-family: "FranklinGothicLTCom-BkCn";
        margin: 0 0 23px 0;
      }

      h4 {
        text-transform: uppercase;
        color: #eee;
        font-size: 39px;
        margin: 0 0 15px 0;
      }
    }

    .contact{
      float: right;
      width: 30%;

      [class^="icon-"]{
        font-size: 236%;
        display: inline-block;
        margin: 5px 5px 20px 5px;
        color: #007bb5;
        @include border-radius(6px);
        position:relative;
        background: white;
        line-height: 0.4;
        cursor: pointer;

        &.icon-connect-twitter{
          color: #55acee;
        }
      }

      h4{
        text-transform: uppercase;
        color: #eee;
        font-size: 39px;
        margin: 0 0 15px 0;
        &.last{
          margin: 40px 0 5px 0;
        }
      }

      a.email{
        font-size: 130%;
        color: darken($color-main, 8%);
        font-family: "FranklinGothicLTCom-BkCn";
        text-decoration: none;
        &:hover{
          opacity: 0.7;
        }
      }
    }

    @include media(0,850){
      .copy{
        width: auto;
        clear: both;
        float: none;
        padding: 0 20px;
      }
      .contact{
        width: auto;
        clear: both;
        float: none;
        padding: 20px;
        h4, h4.last{
          margin: 10px 0 0 0;
        }
      }
    }

  }

}