#home{
  .item{
    clear: both;
    margin: 0 -20px 12px -20px;
    position:relative;
    @media (min-width: 0px) and (max-width: 790px){
      margin: 0 0 12px 0;
      overflow:hidden;
    }
//    overflow:hidden;

    > h3{
      background: #262626;
      padding: 8px 35px 12px 80px;
      position:relative;
      font-size: 100%;
      font-weight: normal;
      min-height: 50px;
      @include transition(background 0.2s ease-in-out);

      @include media(600){
        padding: 10px 5px 10px 77px;
        min-height: 59px;
      }

      @media (min-width: 320px) and (max-width: 599px){
        padding: 5px 5px 10px 57px;
        min-height: 59px;
      }

    }

    &.expandable{
      > h3{
        .no-touch &:hover{
          background: #313131;
          &.title{
            color:white;
          }
        }
      }
    }

    &.active{
      > h3{
        background: #313131;
      }

    }

    .years{
      font-family: 'FranklinGothicLTCom-BkXCm';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 93px;
      color: #fffc84;
      font-size: 196%;
      border-right: 5px solid #191919;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 16px 15px 0 15px;
      line-height: 0.8em;

      @media (min-width: 320px) and (max-width: 599px){
        font-size: 200%;
        padding: 16px 15px 0 13px;
        width: 72px;
      }

      @include media(600){
        font-size: 200%;
        padding: 16px 15px 0 15px;
        width: 93px;
      }


    }

    div.title{
      p{
        margin:0;
        padding:0;
        &.title{
          font-family: $font-title;
          color: #f2f2f2;
          font-size: 180%;
          margin:4px 0 5px 28px;
          line-height: 1.0;
          @include media(600){
            font-size: 180%;
          }
          @media (min-width: 320px) and (max-width: 599px){
            font-size: 160%;
            padding-right: 35px;
            padding-top: 5px;
          }
        }
        &.meta{
          font-family: FranklinGothicLTCom-BkCn;
          color: #999;
          line-height: 130%;
          padding: 0 36px 0 28px;
          font-size: 120%;
        }
      }
      > ul{
        li{
          font-family: FranklinGothicLTCom-BkCn;
          display: list-item;
          list-style: square inside none;
          color: #999;
          line-height: 130%;
          font-size: 120%;
        }
      }
    }

    &.expanded.expandable{
      div.title{
        &:after{
          content: 'd';
        }
      }
    }

    &.expandable{

      .no-touch &{
        cursor: pointer;
      }

      div.title{
        &:hover{

          &:after{
            color: white;
          }
        }
        &:after{
          content: 'a';
          font-size: 200%;
          font-family: "butters-icons";
          position: absolute;
          left: auto;
          right: 7px;
          top: 50%;
          margin: -25px 0 0 0;
          color: #fffc84;
          line-height: 50px;
          height: 50px;
          font-weight: normal;

          @include media(600){
            font-size: 200%;
            right: 22px;
          }

        }
      }
    }

  }
}