<div id="about">
    {{>header}}

    <div class="header_banner">
        <div class="img"></div>
        <div class="grid-container">
            <h1>About Me</h1>
        </div>
    </div>

    <div class="grid-container">

        <section class="main">
            <div class="copy">
                <h4>I love UX</h4>
                <p>
                    I love the complex problem-solving involved in digital user experiences. I relish the challenge of making users feel good while they're interacting with products, whether they're trying to buy something, gain knowledge, or be entertained.
                </p>
                <p>
                    Designing an interface that is at the same time beautiful, distinctly branded, AND usable is never easy. It's a challenge with both subjective (how does it feel?) and objective (can I use it?) components, and solving both is a fascinating endeavor. I've been designing for 11 years and solving UX problems for 7, and as technology evolves it only gets more fun.
                </p>
                <h4>My Story</h4>
                <p>
                As a kid I instinctively knew that an audience will focus better when given a “visual aid.” This led me to spend many more hours drawing elaborate posters than writing the book reports accompanying them. I continued drawing and painting through my liberal arts undergrad (Oberlin College) and post grad viola performance studies (The Juilliard School), and because of the stiff demand there for concert posters, I homed in on communication design and the craft of juxtaposing image with typography. When a case of elbow tendinitis derailed my music career, my instinct told me to take a wild leap into the field of graphic design.
                </p>
                <p>
                 Self-taught, I worked my way up the New York City ladder until I landed an amazing product design job at the American Museum of Natural History. Then, desiring more training and legitimacy, I entered an AAS program at the Parsons School of Design, where I became intrigued by interactive design and user experience. Perhaps the affinity came from my left-brained classical music background, but since then I’ve found a happy home in creating impactful, delightful “visual aids” within the data-driven parameters of good UX.
                </p>
                <p>
                This year (2014), after adding a second baby to my family, I moved from Brooklyn, NY, to the Washington, DC area to be near extended family (translate: free babysitting). My positions at BN.com, Scholastic.com, and Marvel.com, have given me complex, fascinating experiences, and I’m now eager to take on the most extreme UX and design challenges in my new town.
                </p>

                <p>
                    Though time is not very "free" for anyone these days, I keep up my viola chops by playing in chamber music groups and orchestras with other serious musicians. In New York, I sat principal viola for the <a href="http://chambersymphony.com" target="_blank">Park Avenue Chamber Symphony</a>, which has won many awards for its recordings. I'm married to a very creative video, photo, and ideas guy named David Friedman. He blogs ideas at <a href="http://www.ironicsans.com/" target="_blank">ironicsans.com</a> and showcases his work at <a href="http://www.likelymedia.com/" target="_blank">likelymedia.com</a>.
                </p>

                <h4>About This Site</h4>
                <p>
                    This site came from an idea I had to merge a portfolio and a resumé. During hiring periods, I've found myself wasting hours trying to piece together designers' stories by tediously comparing their resumés to their portfolio work. Most designer portfolios do not include basic data points for each piece, such as who they were working for or what their task was (e.g. working from an existing template vs. designing from scratch). So when the time came for me to redesign my own portfolio, I decided to put portfolio images in the context of a resumé.
                </p>
                <p>
                    I custom designed this site and it is fully responsive. I worked with the very talented developer, <a href="https://www.linkedin.com/in/mhweiner" target="_blank">Marc Weiner</a>, to complete it. I am trying to convince him to turn it into a WordPress Theme. If you agree, please <a href="https://twitter.com/marc_h_weiner" target="_blank">tweet to him</a>: @marc_h_weiner.
                </p>
            </div>
            <div class="contact">
                <h4>Connect</h4>
                <a href="http://instagram.com/ellenbutters" target="_blank"><i class="icon-connect-instagram"></i></a>
                <a href="https://twitter.com/ButtersDesign" target="_blank"><i class="icon-connect-twitter"></i></a>
                <a href="https://www.linkedin.com/in/buttersdesign/" target="_blank"><i class="icon-connect-linkedin"></i></a>
                <h4 class="last">Contact Me</h4>
                <a class="email" href="mailto:eb@ellenbutters.com">eb@ellenbutters.com</a>
            </div>
        </section>

    </div>

    {{>footer}}
</div>