<div id="contact">
    {{>header}}

    <div class="header_banner">
        <div class="img"></div>
        <div class="grid-container">
            <h1>Contact Me</h1>
        </div>
    </div>

    <div class="grid-container">

        <section class="main">
            <div class="contact">

                <a class="email" href="mailto:eb@ellenbutters.com">eb@ellenbutters.com</a>
                <p>If you'd like to talk over the phone, please email me so we can set up a call.</p>

                <h4>Connect</h4>
                <a href="http://instagram.com/ellenbutters" target="_blank"><i class="icon-connect-instagram"></i></a>
                <a href="https://twitter.com/ButtersNYC" target="_blank"><i class="icon-connect-twitter"></i></a>
                <a href="https://www.linkedin.com/pub/ellen-butters/3/751/893" target="_blank"><i class="icon-connect-linkedin"></i></a>
            </div>


        </section>

    </div>

    {{>footer}}
</div>