<div id="contact">
    {{>header}}

    <div class="header_banner">
        <div class="img"></div>
        <div class="grid-container">
            <h1>Contact Me hello</h1>
        </div>
    </div>

    <div class="grid-container">

        <section class="main">
            <div class="contact">

                <a class="email" href="mailto:eb@ellenbutters.com">eb@ellenbutters.com</a>
                <p>If you'd like to talk over the phone, please email me so we can set up a call.</p>

                <h4>Connect</h4>
                <a href="http://instagram.com/ellenbutters" target="_blank"><i class="icon-connect-instagram"></i></a>
                <a href="https://twitter.com/ButtersDesign" target="_blank"><i class="icon-connect-twitter"></i></a>
                <a href="https://www.linkedin.com/in/buttersdesign/" target="_blank"><i class="icon-connect-linkedin"></i></a>
            </div>


        </section>

    </div>

    <footer style="position: fixed; bottom: 0px; left: 0px; width: 100%;">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-56707242-1', 'auto');
            ga('send', 'pageview');

        </script>


        {{>nav}}
    </footer>

</div>