<div id="home">
    {{>header}}

    <div class="header_banner">
        <div class="img"></div>
        <a id="fastcompany" href="http://live.fastcompany.com/Event/Innovation_By_Design_A_QA_With_Ellen_Butter_Art_Director_at_Marvel_Entertainment?Page=0"><img src="assets/img/codesign.png">Read my live Q&amp;A for Fast Company Design</a>
    </div>

    <div class="grid-container">
        <h1>I love creating strong digital interfaces and experiences that are both usable <em>and</em> branded, beautiful <em>and</em> profitable.</h1>
    </div>
    <section>
        <div class="grid-container">
            <h2>Experience <span>(11 yrs)</span></h2>
            <div class="item expandable" data-name="marvel">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Marvel Entertainment</p>
                        <p class="meta">Art Director, Digital Dept., NYC</p>
                    </div>
                </h3>
            </div>
            <div class="item expandable" data-name="scholastic">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Scholastic Book Clubs Online</p>
                        <p class="meta">Art Director, Digital Dept., NYC</p>
                    </div>
                </h3>
            </div>
            <div class="item expandable" data-name="scholastic">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Scholastic Book Clubs Online</p>
                        <p class="meta">Art Director, Digital Dept., NYC</p>
                    </div>
                </h3>
            </div>
            <div class="item expandable" data-name="scholastic">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Scholastic Book Clubs Online</p>
                        <p class="meta">Art Director, Digital Dept., NYC</p>
                    </div>
                </h3>
            </div>
            <div class="item expandable" data-name="scholastic">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Scholastic Book Clubs Online</p>
                        <p class="meta">Art Director, Digital Dept., NYC</p>
                    </div>
                </h3>
            </div>
        </div>
    </section>
    <section class="education">
        <div class="grid-container">
            <h2>Education</h2>
            <div class="item expandable" data-name="scholastic">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Parsons School of Design</p>
                        <p class="meta">Art Director, Digital Dept., NYC</p>
                    </div>
                </h3>
            </div>
            <div class="item">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">The Juliard School &mdash; New York City</p>
                        <p class="meta">Master of Fine Arts in Classical Viola Performance</p>
                    </div>
                </h3>
            </div>
            <div class="item">
                <h3>
                    <div class="years">2012-2014</div>
                    <div class="title">
                        <p class="title">Oberlin College & Conservatory of Music</p>
                        <p class="meta">Bachelor of Arts in Art History</p>
                    </div>
                </h3>
            </div>
        </div>
    </section>
    <section class="skills">
        <div class="grid-container">
            <h2>Skills</h2>
            <div class="item expandable" data-name="scholastic">
                <h3>
                    <div class="title">
                        <p class="title">Software</p>
                        <ul>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                        </ul>
                    </div>
                </h3>
            </div>
            <div class="item">
                <h3>
                    <div class="title">
                        <p class="title">Software</p>
                        <ul>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                        </ul>
                    </div>
                </h3>
            </div>
            <div class="item">
                <h3>
                    <div class="title">
                        <p class="title">Software</p>
                        <ul>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                            <li>Lorem ipsum dolar sit amet</li>
                        </ul>
                    </div>
                </h3>
            </div>
        </div>
    </section>
    <section class="recognition">
        <div class="grid-container">
            <h2>Recognition</h2>
            <div class="item">
                <h3>
                    <div class="years">2013</div>
                    <div class="title">
                        <p class="title">Fast Company's Magazine's <i>Innovation By Design</i> Conference</p>
                        <p class="meta">I shared my experiences at Marvel during a <a href="http://live.fastcompany.com/Event/Innovation_By_Design_A_QA_With_Ellen_Butter_Art_Director_at_Marvel_Entertainment?Page=0">live Q&A</a> with Mark Wilson as a lead-up to the conference.</p>
                    </div>
                </h3>
            </div>
        </div>
    </section>

    <section class="more">
        <div class="grid-container">
            <h2>More</h2>

            <div class="profile">
                <img src="assets/img/eb.jpg">
                <h4>Connect</h4>
                <i class="icon-connect-instagram" data-url=""></i>
                <i class="icon-connect-twitter" data-url="https://twitter.com/ButtersNYC"></i>
                <i class="icon-connect-linkedin" data-url="https://www.linkedin.com/pub/ellen-butters/3/751/893"></i>
            </div>

            <div class="content">
                <h3>My Story in a Nutshell</h3>
                <p>
                    I’ve always loved design, but it has sometimes competed with music for my attention. In high school I probably spent as much time designing the posters for my viola recitals as I did practicing for them. Growing up in the D.C. area, I found a way to combine music with local politics: by playing string quartet gigs at embassies and political gatherings, including one at the Vice President’s mansion! Music and I were joined at the hip through my studies at Oberlin and The Juilliard school, but a repetitive stress injury struck and serendipitously prompted me to recommit to my other love: digital design. Now, after getting my AAS at Parsons and finishing delightful and challenging jobs at Barnes & Noble, Scholastic, and Marvel in NYC, I’ve returned to D.C. with my husband and two sons, and I’m geeked to find a new work home. Who knows – maybe I’ll end up gigging in a new way for the Vice President (BidenForPresident2016.com?)
                </p>

                <h3>Contact Me</h3>
                <h6>eb@ellenbutters.com</h6>
            </div>

        </div>
    </section>

    {{>footer}}
</div>